[2014-01-29 15:14] TheresaBruemmer opened #3 "Wiki GitHub"
https://github.com/ComputationalRadiationPhysics/clara2/wiki/GitHub-workflow-in-a-nutshell

Please insert the following instruction between steps 3) and 4):

`cd clara2`

[2014-01-29 15:18] #3 closed, assigned to nobody

[2014-01-31 09:27] PrometheusPi opened #4 "comment code base"
comment the existing code base

[2014-01-31 09:28] PrometheusPi opened #5 "clean up code"
remove all unnecessary code in the current code base

[2014-01-31 09:30] PrometheusPi opened #6 "wiki documentation"
write the wiki documenation for developesrs and users

[2014-01-31 09:32] PrometheusPi opened #7 "automated compile tests"
set up automated compile tests for each pull request

[2014-01-31 09:36] PrometheusPi opened #8 "single param file"
Create a single param file, that is namespace protected, to be used in the entire simulation. This  should be similar  to the param files in [PIConGPU](https://github.com/ComputationalRadiationPhysics/picongpu). This is supposed to simplify the setup of simulations and make a later retrieval of the simulation parameters easier.

[2014-01-31 11:29] PrometheusPi opened #9 "automated simulation setup"
Similar to [PIConGPU](https://github.com/ComputationalRadiationPhysics/picongpu), an automation process should be developed that
-   creates simulation directory
-   stores importatnt files (parameters)
-   stores results
-   without messing up the original code

[2014-01-31 14:09] PrometheusPi opened #11 "automate stepwidth computation"
The computation of `stepwidth` in [single_trace.cpp](https://github.com/ComputationalRadiationPhysics/clara2/blob/dev/src/single_trace.cpp) still requires to set up the index of the time in `const one_line* data`. This is a **very inconvenient** way to compute the width of the time step of the trajectory.
A better way to organize the data should be developed.

[2014-01-31 14:25] PrometheusPi opened #12 "change single_trace to one direction"
The function `single_trace` in [single_trace.cpp](https://github.com/ComputationalRadiationPhysics/clara2/blob/dev/src/single_trace.cpp) still contains code to handle several directions.

This needs to be cleaned up. Perhaps even rename the files.

[2014-01-31 14:46] PrometheusPi opened #13 "CPU DFT method"
In _clara2_, there is still a DFT method running on the CPU. I am not shure, if we should still support this.

@BeyondEspresso @TheresaBruemmer @bussmann
What do you think?

[2014-01-31 15:06] PrometheusPi opened #14 "run_through_data called several times"
The function `run_through_data` from [run_through_data.hpp](https://github.com/ComputationalRadiationPhysics/clara2/blob/dev/src/run_through_data.hpp) is called for each direction.
(see [single_trace.cpp](https://github.com/ComputationalRadiationPhysics/clara2/blob/dev/src/single_trace.cpp) and [all_directions.cpp](https://github.com/ComputationalRadiationPhysics/clara2/blob/dev/src/all_directions

[2014-01-31 15:21] PrometheusPi opened #15 "file_exists in own file"
The function `file_exists()` is defined in [single_trace.hpp](https://github.com/ComputationalRadiationPhysics/clara2/blob/dev/src/single_trace.hpp) and [single_trace.cpp](https://github.com/ComputationalRadiationPhysics/clara2/blob/dev/src/single_trace.cpp). This is misleading and the code should be placed in its own file. This also improves reuseability.

[2014-02-03 10:01] PrometheusPi opened #17 "Support of old parallelization scheme"
During the development of _Clara2_, I tested a parallelization over directions.
Each MPI task ran through all traces and computed the total radiation spectra for only a single direction. This caused a lot of data traffic and  **overloaded the network** of _hypnos_. Therefore, the current parallelization distributes work for each trajectory.

The old parallelization scheme is still supported by the

[2014-02-04 10:04] PrometheusPi opened #19 "gzib_lib.hpp contains non-compressed file handling"
The library [gzip_lib.hpp](https://github.com/ComputationalRadiationPhysics/clara2/blob/dev/src/gzip_lib.hpp) contains not only file handling functions for compressed files but also normal bianry file handling functions.

For cleaner naming, the functions not associated with compressed files should go to another `*.hpp`file.

[2014-02-04 10:12] PrometheusPi opened #20 "error handling"
Currently, both C-style error handling, using `return ≠ 0`, and C++-style error handling, with `throw "error name"`, are used concurrently.

A more consistent error handling using C++-style should be used.

Example file: [gzip_lib.hpp](https://github.com/ComputationalRadiationPhysics/clara2/blob/dev/src/gzip_lib.hpp)

[2014-02-06 11:00] PrometheusPi opened #22 "Plugin for GPT"
Build an library interface of _clara2_ that can be used as plugin in _GPT_ (General Particle Tracker)

[2014-02-25 00:22] PrometheusPi opened #24 "Tools from picongpu"
I would like to add the python scripts used in picongpu for analyzing the output.
@ax3l What do I have to do concerning the license header?

Leave it as it is (`picongpu`), change it to `clara2`or mention both?

[2014-02-25 16:28] #24 closed, assigned to PrometheusPi

[2014-02-26 10:21] PrometheusPi opened #26 "modules on hypnos"
With default modules, _clara2_ does not seem to compile due to a missing `zlib`.
This can be solved by choosing suitable modules.

But then the following error might occure, do to differnt module setup during compile and run time.

[code]

Either there is a problem with loading something from `~` or modules are set up wrongly.

Setting up modules both for compile and run time should be automated.

[2014-02-26 10:35] #26 closed, assigned to PrometheusPi

[2015-11-11 09:37] PrometheusPi opened #32 "Warning return_value not used"
There are several warnings with `gcc 4.6.2` when compiling clara2:

[code]

[2015-12-11 14:14] PrometheusPi opened #33 "NaN in spectrum"
There can be `NaN` value in the spectrum, which destroy the total result of used with `process_data`.

I suspect they come from the Nyquist limit which is avoided in the interpolation. They should be set to zero.

[2015-12-15 14:14] PrometheusPi opened #34 "Typo ascii"
In the code and the output there is a typo writing `asci` instead of `ascii`.

[2016-07-25 11:08] PrometheusPi opened #35 "support coherent radiation"
We should support to option to export the amplitudes (C^3) instead of just the magnitude (R^1) in order to take phase and polarization into account.

mentioning:
@joyiuac
@BeyondEspresso

[2016-07-25 11:11] PrometheusPi opened #36 "add full mpi parallelization"
Instead of storing data on the file system, it would be better to use mpi-reduces instead to reduce the access to the file system.

[2016-07-25 11:13] PrometheusPi opened #37 "add compile tests"
Add compile test system to check pull request for consistency.

https://github.com/integrations/feature/code

[2016-07-26 12:09] #34 closed, assigned to PrometheusPi

[2016-10-10 15:27] alex-koe opened #43 "Allow comment lines in trace files"
Allow comments in trace files to allow identification of columns by user

[2016-10-28 12:04] #33 closed, assigned to PrometheusPi

[2016-10-28 12:06] #13 closed, assigned to PrometheusPi

[2016-11-02 14:47] PrometheusPi opened #51 "fix white space in src/"
Fix alignment and white space in all code files in `src/`

[2016-11-02 14:48] PrometheusPi opened #52 "add namespace to setup file"
Hide setup variables behind name space

[2016-11-02 14:50] PrometheusPi opened #53 "move trace directories in setup file"
move trace file location into setup file

[2016-11-03 10:09] #8 closed, assigned to PrometheusPi, alex-koe

[2016-11-03 10:58] #51 closed, assigned to PrometheusPi

[2016-11-03 14:19] #32 closed, assigned to PrometheusPi

[2016-11-04 07:50] #53 closed, assigned to PrometheusPi

[2016-11-04 07:51] #15 closed, assigned to PrometheusPi

[2016-11-06 00:59] #52 closed, assigned to PrometheusPi

[2016-11-09 09:07] #19 closed, assigned to PrometheusPi

[2016-11-09 09:08] #12 closed, assigned to PrometheusPi

[2016-11-09 09:08] #17 closed, assigned to PrometheusPi

[2016-11-09 09:19] PrometheusPi opened #63 "ease data input and unit conversion"
Currently data is loaded in [run_through_data.hpp](https://github.com/ComputationalRadiationPhysics/clara2/blob/46bab20ba542c1ca966a22344ff2ffd35bb36628/src/run_through_data.hpp) where many manual unit conversions are required.

This should be set up more easily via the `setting.hpp` file.

(derived from #11)

[2016-11-09 10:57] #11 closed, assigned to PrometheusPi

[2016-11-10 08:28] #63 closed, assigned to PrometheusPi

[2016-11-10 10:05] PrometheusPi opened #65 "make call required twice"
In `prepare_job.sh` `make` is called twice - once without argument - the second time with a parallelization argument. This should be cleaned up.

[2016-11-11 09:17] PrometheusPi opened #68 "integrate detetctor_e_field"
Currently `detector_e_field` is not used in the code. But I did not remove the code, because I belief it might be useful for future research again  (see argument issue #5).

The `detector_e_field` should be selectable and easy to set up.

[2016-11-11 09:26] PrometheusPi opened #69 "centralize frequency setup"
Write frequency setup routines similar to PIConGPU that allows an easy setup of the frequency of a detector.
-  linear frequency range
- logarithmic frequency range

[2016-11-11 09:28] PrometheusPi opened #70 "centralize detector direction setup"
Currently the detector direction setup is distributed between `all_direction.cpp` and `single_direction.cpp`. This should be combined as a functor that allows setting the observation direction (and later output format).

[2016-11-11 09:32] PrometheusPi opened #71 "improve input data conversion"
Currently trajectory input data is converted in `run_through_data.hpp` via some constants defined in `settings.hpp`. However a more general approach  would be useful.

[2016-11-11 09:40] PrometheusPi opened #72 "build selector between DFT and FFT detector"
Add a selector between DFT and FFT detector.

[2016-11-14 09:16] PrometheusPi opened #73 "fix #include in hpp/cpp"
Currently `#include` is used both in `*.hpp` and `*.cpp`  files without real structure. This should be restructured so that only a minimal set of `#include` is used in `*.hpp` files to avoid compile conflicts.

[2016-11-14 09:18] PrometheusPi opened #74 "Detector add_to_spectrum interface clean up"
In the DFT and FFT detector interface of `add_to_spectrum` several parameters are used that are probably not needed. The number of parameters should be reduced.

[2016-11-14 09:28] PrometheusPi opened #75 "the interface of get_spectrum is outdated"
The interface of get_spectrum is outdated. It would be better to write to methods that get either the frequency or the spectrum.

[2016-11-14 09:37] PrometheusPi opened #76 "detector energy method uses arbitry freqency bin width"
Currently the frequency bin width used to calculate the total energy radiated in a given direction is set by an arbitrary index:
[code]
This should be avoided - to avoid arbitrary frequency scales.

[2016-11-14 10:13] #5 closed, assigned to PrometheusPi

[2016-11-15 08:46] PrometheusPi opened #78 "The descretization of time is off by one delta_t in detector_e_field"
I think the descretization of time which is used to write the the `signal` array in `detector_e_field` is off by one `delta_t`.

[2016-11-18 10:42] PrometheusPi opened #81 "inludes in *.hpp/*.tpp and *.hpp-only files"
This is a followup to issue #73   solves by pull request #80.

The problem of including libraries via other includes remains with `*.hpp/*.tpp` and `*.hpp`-only files. This should be solved to reduce the number of cross-includes.

[2016-11-18 10:44] PrometheusPi opened #82 "remove using namespace std"
The `using namespace std` should be removed - at least at global level.

[2016-11-21 09:20] #73 closed, assigned to PrometheusPi

[2016-11-24 14:29] PrometheusPi opened #84 "refactor one_line"
The `struct` `one_line` (in `import_from_file`) should be a template to not only depend on `double` input.
Furthermore the name `one_line`  and the file name is misleading and should be replaced by something more clear.

[2018-02-08 04:26] QJohn2017 opened #89 "problem to compile the CLARA2 program"
Hello,
      I'm trying to calculate the Thomson and Compton scatter, so I have find the program CLARA2 in github. But when I compile this program in supercomputer center by the tutorial in the [website](https://github.com/ComputationalRadiationPhysics/clara2/wiki/Users) , some problems occurred as following:
[code]

Can you help me to solve this problem? Thank you very much!

[2018-02-08 20:04] PrometheusPi commented on #89
Hi @QJohn2017,

thank you for posting your question.
The tutorial assumes you are running Clara2 on thy hypnos cluster at [HZDR](https://www.hzdr.de).
The [`/prepare_job.sh`](https://github.com/ComputationalRadiationPhysics/clara2/blob/fa2f51fc89dc7af446cab63084c94e8070ee7b3a/src/prepare_job.sh#L44-L45) script you execute loads various modules by sourcing [`clara2_hypnos.modules`](https://github.c

[2018-02-09 16:56] schluenz commented on #89
Hi,

just ran into the same issue. plain make fails on undeclared input/output in ned_fft.hpp. I guess
[code]
would fix it. Cheers, Frank.

[2018-02-09 19:47] PrometheusPi commented on #89
Hi @schluenz,

thanks for posting. Good point - this must have slipped in despite my checks when uploading. (I probably did not remove the library file created when checking.)  Please excuse this inconvenience.

I will provide a fix in a minute.

[2018-02-09 20:36] PrometheusPi commented on #89
Your issue should be fixed with #90
If you checkout the current `dev` the fix is already included.
The `master` will be updated soon.

[2018-02-09 20:37] PrometheusPi commented on #89
@QJohn2017 Does this fix your problem?

[2018-02-12 12:21] QJohn2017 commented on #89
Hi @PrometheusPi ,
     I have tried the revised version that you uploaded 3 days ago. In addition, the **_`gcc`_** version in my supercomputer center is **_`gcc (GCC) 4.4.7  20120313  (Red Hat 4.4.7-4)`_**.  The **_`mpic++`_** version is **_`icpc (ICC) 11.1 20091012`_**.  However, I did not find the installation of  the **_`fftw`_** , but I copy the` _**fftw.h**_` to` clara2/src/include/` at comp

[2018-02-12 12:26] QJohn2017 commented on #89
Hi @PrometheusPi ,
     Sorry, i missed some word in the above comments,  I copied the "fftw3.h" file from the compiled code at: [](http://www.fftw.org/ ) to the "`_**clara2/src/include/**_`"

[2018-02-12 12:28] QJohn2017 commented on #89
Sorry @PrometheusPi ,i don't know why the website doesn't display here

[2018-02-12 13:29] PrometheusPi commented on #89
Hi @QJohn2017, thanks for updating the code. The new code seems to have solved the initial issue you encountered. The FFT based Fourier transform seems to compile with fftw (`g++ -Wall -O3 -c -lfftw3 -lm detector_fft.cpp` was successful).
I assume you added the fftw library to you `LD_LIBRARY_PATH` (or the installer did this for you).
So copying the `fftw3.h` should not be necessary.

Right now, y

[2018-02-14 02:13] QJohn2017 commented on #89
Hi, @PrometheusPi ,
    Thank you very much that you can help me to analyze the compiled errors. Yes, my supercomputer center is **tianhe2**, how do you know?
     Besides, when I complied the program, there has a executable file named _`executable`_ and its size is **_1941 kb_**, is this executable right?
      Furthermore, if i want to  eliminate the warnings and other errors when compiling, how

[2018-02-14 10:17] PrometheusPi opened #93 "Submit script for tianhe2 SLURM"
As needed by @QJohn2017 a setup script for tianhe2 is needed (see #89). Since tianhe2 uses SLURM for scheduling, either the `./prepare_job` script needs to be adjusted to an `./prepare_job_tianhe2.sh`script which creates a SLURM submit file or we go directly with an submit file that focuses on MPI jobs only (since tianhe2 is large and probably has to handle quite a lot of jobs, MPI is probably the

[2018-02-14 10:23] PrometheusPi opened #94 "Warnings when compiling with icpc"
As @QJohn2017 mentioned in #89 there are several warnings when `icpc` is used instead of `open mpi`. This should be resolved for future use.

The warnings for
[code]
were:
 - math libray
[code]
 - openMP flag
[code]
 - `#pragma once`
[code]

and (as in all versions) in during:
[code]
the warning:
[code]

[2018-02-14 10:25] PrometheusPi commented on #94
@QJohn2017
What is the version of `icp` you are using and what version is behind `mpic++`?

[2018-02-14 10:48] PrometheusPi commented on #89
@QJohn2017 Great to hear that the executable was produced. The actual size depends on the compiler and the libraries used. On our local cluster, the size is for example smaller than 256K. But don't worry, this is probably just the compiler.

The output of your second message contained on the first line the node name you were running at `ln0%tianhe2-C`- since I am familiar with the top HPC clusters

[2018-02-14 10:48] #89 closed, assigned to PrometheusPi

[2018-02-14 11:17] PrometheusPi commented on #93
@QJohn2017 some questions regarding your setup on tinahe2:
 - What is the name of the queue you are using/planing to use?
 - How many cores does a node have?
 - How much memory is available on each node?
 - Does the system requires you to set specific hardware specifiers?

If you could provide an example submit file, that would help a lot.

[2018-02-14 11:24] QJohn2017 commented on #94
@PrometheusPi
My `icpc` version is _`icpc (ICC) 11.1 20091012`_

[2018-02-14 11:36] QJohn2017 commented on #93
@PrometheusPi
In my supercomputer center,  a node has 24 cores, and i don't know the available memory on each node.
The following is one of my submit file when i use the EPOCH program on the tianhe2
**_`#!/bin/bash
echo Data | yhrun -N 4 -n 96 ./bin/epoch2d`_**

[2018-02-14 11:39] QJohn2017 commented on #93
@PrometheusPi
sorry, the submit command is
**_`#!/bin/bash`_**
**_`echo Data | yhrun -N 4 -n 96 ./bin/epoch2d`_**

And other submit command is
`_**#!/bin/bash**_`
`_**yhrun -N 4 -n 96 ../src/lapin lapin.inp**_
`

[2018-02-14 11:40] QJohn2017 commented on #93
@PrometheusPi
**_`#!/bin/bash`_**
**_`yhrun -N 4 -n 96 ../src/lapin lapin.inp`_**

[2018-02-14 11:43] QJohn2017 commented on #93
@PrometheusPi ,

When I use the submit commands above, one of the output file is named
_`slurm-4399462.out`_
where the number is the job ID

[2018-02-14 12:20] PrometheusPi commented on #93
Do you submit these scripts via the command `sbatch`?
Like for example:
[code]

You do not need any specifications via bash comments as e.g.:
[code]

What does the help file of `sbatch -h` return?

[2018-02-14 12:23] PrometheusPi commented on #93
@QJohn2017
Is `yhrun` an mpi distribution command like `mpiexec`, `mpirun` or `srun`?

[2018-02-14 12:25] PrometheusPi commented on #93
Could you try running `yhrun -N 2 -n 48 ./path_to_clara_src/executable`?

[2018-02-14 12:34] QJohn2017 commented on #93
@PrometheusPi
How do you know the **_`siom003@login3`_**
_`siom003`_ is our group name in Shanghai supercomputer center

[2018-02-14 12:36] QJohn2017 commented on #93
@PrometheusPi ,
In tianhe2, when i create the submit file script, e.g., named `test.sh`. Then I submit the job by input the command
**`yhbatch -N 4 ./test.sh`**

[2018-02-14 12:40] QJohn2017 commented on #93
@PrometheusPi ,
The `yhrun` is used when I submit the job without a script `.sh` file.
The `yhbatch` is used when the  submit script `.sh` file is used

[2018-02-14 12:41] PrometheusPi commented on #93
The bash interface `siom003@login3` is the interface you used in your first issue - I just copy and pasted it to the resemble a known interface in order to emphasize that the entry is intended to directly work on the command line.
However, if this is the computer system for your group, then `sbatch`might not exist there - it might only be available at a login node of the super computer.

[2018-02-14 12:43] PrometheusPi commented on #93
**Remark for myself:**
`sbatch` is called  `yhbatch`
`srun` is called `yhrun`

[2018-02-14 12:47] PrometheusPi commented on #93
Okay - Sorry - I got confused:
The initial error message in #89 is from your Shanghai supercomputer center.
The second message in #89 with the warnings is from tianhe2.
Is this correct?

Then please excuse my confusion and the use of  `siom003@login3` - then this should be executed not in Shanghai but on tianhe2.

[2018-02-14 12:49] QJohn2017 commented on #93
@PrometheusPi ,
Yes, the initial error message in #89 is from Shanghai supercomputer center. The other error massages all come from the tianhe2.

[2018-02-14 12:52] QJohn2017 commented on #93
@PrometheusPi ,
I want to compute this program on tianhe2 firstly. When the program compute correctly on tianhe2, I will consider it on Shanghai supercomputer center

[2018-02-14 12:55] PrometheusPi commented on #93
Okay - then please excuse my confusion. I thought it is the same machine but different nodes.

Than let us start with finding a setup for tianhe2 first.

I know tianhe2 has a SLURM submit system with the above mentioned renaming.
You mentioned, that you submit via `yhbatch -N 4 ./test.sh`.

In `test.sh`, do you specify anything via bash comments `#SBATCH ...` or `#YHBATCH`?

[2018-02-14 13:00] PrometheusPi commented on #93
Could you copy the help of `yhbatch` to this issue?
(This can probably be done by `yhbatch -h` or `yhbatch --help` or `man yhbatch`)
I assume everything will be similar or equal to `sbatch`, but I don't know.

[2018-02-14 13:00] QJohn2017 commented on #93
@PrometheusPi ,
Just now, I submit the job by a script file named `test.sh`. The commands in `test.sh` file is
`#!/bin/bash`
`yhrun -N 2 -n 48 executable`

When I input the following commands to submit the job
`yhbatch -N 2 ./test.sh`

There are some errors appeared as follows
[code]

[2018-02-14 13:06] QJohn2017 commented on #93
@PrometheusPi ,
When I input the comand `yhbatch -h`, the returned results are as follows:
[code]

[2018-02-14 13:10] PrometheusPi commented on #93
Great, it looks like clara2 was put on the cluster.
But when executed, the `fftw` library was not found.

Could you please run `ldd` on `executable`.
In the environment you compiled clara2, all links provided by `ldd` should point to a know place.
What does `ldd executable` returns at the computer you compiled the code at?

If you add the following line to your  `test.sh`:
[code]
the same output s

[2018-02-14 13:12] PrometheusPi commented on #93
Thank you for the help file. So far, everything looks the same to `sbatch`.

[2018-02-14 13:14] QJohn2017 commented on #93
@PrometheusPi
When I input the command `ldd executable`, then the results are as follows:
[code]

[2018-02-14 13:16] PrometheusPi commented on #93
Great, and what does `ldd`return, when executed in a submit script?

[2018-02-14 13:19] QJohn2017 commented on #93
When the commands in `test.sh` file change to

[code]

The output errors become as follows:
[code]

[2018-02-14 13:29] PrometheusPi commented on #93
Okay - it looks like as if your bash environment is different between the node you compiled at and the node you ran via `yhbatch`.

Could you please copy the output of
[code]
as returned from compile node to this issue.

And then additionally post the same result returned by `yhbatch ./test.sh` for the following `test.sh` file:
[code]

There is probably some difference in the `LD_LIBRARY_PATH`.

[2018-02-14 13:37] QJohn2017 commented on #93
When i input the command `echo $LD_LIBRARY_PATH`, it returns:
[code]

[2018-02-14 13:40] QJohn2017 commented on #93
When I add the command `echo $LD_LIBRARY_PATH` to `test.sh` and submit the job, it returns:

[code]

[2018-02-14 13:50] PrometheusPi commented on #93
Okay - the path is identical - that is a bit confusing.

What does on the compile node the command `file /usr/lib64/libfftw3.so.3` return?

Could you try the following for the `test.sh`
[code]

[2018-02-14 13:55] QJohn2017 commented on #93
When input the command
[code]

[2018-02-14 14:00] QJohn2017 commented on #93
When I add the command `export LD_LIBRARY_PATH=$LD_LIBRARY_PATH:/usr/lib64/
file /usr/lib64/libfftw3.so.3` to the  script file `test.sh`, it returns:

[code]

[2018-02-14 14:07] PrometheusPi commented on #93
Okay - seems like `file` can not find its file definitions `magic` on the compute node.
Okay let's try the following `test.sh` file:
[code]

[2018-02-14 14:12] QJohn2017 commented on #93
Is the last command line `#yhrun -N 2 -n 48 executable` correct?
if there is a `#` in the first column?

[2018-02-14 14:14] QJohn2017 commented on #93
When I changed the commands in the file `test.sh` to
`#!/bin/bash
export LD_LIBRARY_PATH=$LD_LIBRARY_PATH:/usr/lib64/
ls -la /usr/lib64/libfftw3.so.3
ls -la /usr/lib64/
#yhrun -N 2 -n 48 executable`

it returns as follows:
[code]

[2018-02-14 14:14] PrometheusPi commented on #93
Yes, the `#` makes the last line a comment and thus avoids the 48 lines of error code for now.

[2018-02-14 14:16] PrometheusPi commented on #93
Okay, the error is that `fftw` is installed on the head/compile node, but is not available on the compute node:
[code]
The `libfftw3.so.3` file does not exist and thus `fftw` is not found by clara2/the `executable`.

[2018-02-14 14:16] PrometheusPi commented on #93
@QJohn2017 How did you install `fftw` on the compute node?

[2018-02-14 14:20] QJohn2017 commented on #93
I don't install the `fftw` on the computer code. I am not the administrator and I does not find the installation location of the `fftw`

[2018-02-14 14:38] PrometheusPi commented on #93
Okay - then I will try to think of a way how to install `fftw` on a user level (e.g. in your own home directory).

A further question:
Does tianhe2 have a module system for adding additional libraries?
If yes, what does `module av` return?

[2018-02-14 14:46] QJohn2017 commented on #93
the command `module av` returns as:

[code]

[2018-02-14 14:48] QJohn2017 commented on #93
I found the `fftw` on the return results

[2018-02-14 14:51] PrometheusPi commented on #93
Great! :+1:

Please run:
[code]
go to the clara2 source code and:
[code]

then edit the `test.sh` file to:
[code]

and finally `yhbatch test.sh`.

If it fails at some point, please stop and report the error, if we reach the `yhbatch ...`, what is the output?

[2018-02-14 14:58] QJohn2017 commented on #93
It's a pity that the return results has some errors as follows when I edit the `test.sh` file according to your suggestion:

[code]

[2018-02-14 15:05] PrometheusPi commented on #93
Okay - no worry - this looks like a common problem among HPC systems 😄 - they do not know the module system in non-interactive jobs.

Does the following `test.sh` file help?
[code]

[2018-02-14 15:07] PrometheusPi commented on #93
The configuration script might be a bit different on your system. But you will probably find something similar in your home directory `.profile` and/or `.bashrc` files.

[2018-02-14 15:10] QJohn2017 commented on #93
it's `. /etc/profile`

[2018-02-14 15:16] QJohn2017 commented on #93
When I change the `test.sh` as:
[code]

and submit the job, its return results are:
[code]
Which seems the same as before results.

[2018-02-14 15:23] PrometheusPi commented on #93
Okay - then `/etc/profile` is probably just the default profile.
How is the work flow for loading modules on the compute note on your HPC system?

Could you please post `ls -la /etc/` perhaps I can identify the [module set up](https://wikis.nyu.edu/display/NYUHPC/module+command+not+found+error).

[2018-02-14 15:32] QJohn2017 commented on #93
When I input the command `ls -la /etc/`, the results returns:

[code]
Because the output files are too much and my computer screen is small, so the output results only displayed partial.

[2018-02-14 15:38] PrometheusPi commented on #93
The partial result might be enough:
What is the output of
[code]

[2018-02-14 15:42] QJohn2017 commented on #93
The command `ls -la /etc/profile.d/`  returns:

[code]

[2018-02-14 15:50] PrometheusPi commented on #93
Does the following `test.sh` work:
[code]

[2018-02-14 15:53] QJohn2017 commented on #93
when the `test.sh` file changes to
`#!/bin/bash
. /etc/profile.d/modules.sh
module load fftw/3.3.5
yhrun -N 2 -n 48 executable`

 it returned as:

[code]

[2018-02-14 16:08] PrometheusPi commented on #93
Okay: as before the program `modulecmd` could not be found.

Could you please provide the result from
[code]

What does
[code]
return?

From the compile node and via the `test.sh` script:
[code]
from the compute node, what is the `PATH`there?

[2018-02-14 16:10] QJohn2017 commented on #93
The command `echo $PATH` returns:

[code]

[2018-02-14 16:12] QJohn2017 commented on #93
When the `test.sh` changed to:

[code]

The results returns:

[code]

[2018-02-14 16:19] PrometheusPi commented on #93
Okay - the `PATH` appears to be the same. So what is the results of
[code]
on the compile node?

[2018-02-14 16:26] QJohn2017 commented on #93
the result of the command `which modulecmd` is

`[ac_siom_jsliu_1@ln3%tianhe2-C src]$ which modulecmd
/usr/bin/modulecmd
[ac_siom_jsliu_1@ln3%tianhe2-C src]$
`

[2018-02-14 16:29] PrometheusPi commented on #93
But for some reason `modulecmd` on the compute node does not exist.
Could you verify this by submitting
[code]

[2018-02-14 16:34] PrometheusPi commented on #93
Could you contact the support of tianhe2 and ask how you are suppose to load modules in submit files that are executed on the compute nodes?

Or do you know anyone (of your colleges) who needs to load modules for submitted jobs?

[2018-02-14 16:35] QJohn2017 commented on #93
When change the `test.sh` to

`#!/bin/bash
ls -la //usr/bin/modulecmd`

the result is:
`ls: cannot access //usr/bin/modulecmd: No such file or directory`

[2018-02-14 16:58] QJohn2017 commented on #93
@PrometheusPi ,
Do you mean that the key point is to load the `module load fftw/3.3.5  ` successfully in the `test.sh` job script file? If so, I will ask the support of the tianhe2.

[2018-02-14 17:01] PrometheusPi commented on #93
Okay - so the issue remains **how to load modules on the compute nodes**.

Additionally, could you please do
[code]
again. I just spoke with a colleague of mine, and he pointed out that depending on how your module system is set up, we still might link against `/usr/lib64/libfftw3.so.3` and not the fftw provided by the module `fftw/3.3.5`.

[2018-02-14 17:03] PrometheusPi commented on #93
@QJohn2017 Yes, the key point is how to load the fftw module on the compute node. If we are not able to load the module, the library file can not be found.
Yes, it would help a lot if you could ask the admins/support.

[2018-02-14 17:04] QJohn2017 commented on #93
The command `ldd ./executable` returns:

[code]

[2018-02-14 17:08] PrometheusPi commented on #93
Thank you for posting the `ldd` output. That is what I was afraid of, even after loading the module for fftw, it still links to the old path.
Could you (in the session where you did `module load fftw/3.3.5`) give the result of:
[code]

[2018-02-14 17:08] QJohn2017 commented on #93
@PrometheusPi
Okay, I will ask the support of the tianhe2 about how to load the fftw module on the compute node, but this week is our spring festival, so I think the support people should be a holiday. So they would be respond to me after one week or more.

[2018-02-14 17:11] QJohn2017 commented on #93
After I load the fftw module, and input the command `echo $LD_LIBRARY_PATH`, it returns:

[code]

[2018-02-14 17:14] PrometheusPi commented on #93
Thank you for uploading the `LD_LIBRARY_PATH` again. It looks correct. It starts with `/WORK/app/fftw/3.3.5/lib:`.

Okay - then let's come back to this discussion after the support replied.

If I have another idea how to avoid the modules, I will post it here.
Hope to hear from you (and the support) soon.
Thanks for sticking with me for so long - it must be really late for you.

[2018-02-14 17:18] QJohn2017 commented on #93
@PrometheusPi ,
Okay, thank you very much that you can take so much time to help me solve this problem, once the support reply to me, I will try it again and post the results here. Thank you again!

[2018-02-20 08:07] QJohn2017 commented on #93
Hi, @PrometheusPi ,
I have asked the support of  tianhe2 supercomputer center and they have responded to me that the submit script file should be:
[code]

According to their suggestions, I have changed the submit script file as above, but there are still some errors as follows:
[code]

[2018-02-22 04:41] QJohn2017 commented on #93
@PrometheusPi ,
when I send the error massages above to the tianhe2 supporters, they suggested me to change the submit script file as
[code]

When I submit the job again, the output resluts are as follows:

[code]

It seems right, but I don't know how to do next step. Please respond to me, thank you!

[2018-02-23 18:21] PrometheusPi commented on #93
Hi @QJohn2017,

thank you for the update. Please excuse my late reply, it was a busy week at work.

Glad to hear that it seems to work!

 Interesting that sourcing the file
[code]
helped executing the script.

Did they tell you what configuration this file changed?
Could you post the content of the file here?

I assume that by loading a module for the compiler `icc` and the openMPI, both during co

[2018-02-23 18:34] PrometheusPi commented on #93
@TheresaBruemmer reported a similar issue with missing link to `libiomp5.so` on [Maxwell/DESY cluster](https://confluence.desy.de/display/IS/Maxwell) via email. She forwarded me an email by @belfhi who seems to have a solution for Maxwell. (Since @belfi used the `master`branch, he in parallel fixed the bug we fixed with pull request #90 - currently only available in `dev`).

@belfi Are you willing

[2018-02-24 01:32] PrometheusPi commented on #93
@TheresaBruemmer Perhaps sourcing the compiler variables as @QJohn2017 did will help you when using `icc`.
I thought that loading the `icc` as module should be enough, but I do not know how Maxwell is configured. Perhaps you need the set the compiler variables by hand like:
[code]
or you try to locate `libiomp5.so` via
[code]
and ad the path to the `LD_LIBRARY_PATH`by hand.

EDIT:
a [link](https:/

[2018-02-24 12:31] QJohn2017 commented on #93
Hi, @PrometheusPi
When I input the command `vi /HOME/intel/composer_xe_2013_sp1.2.144/bin/compilervars.sh intel64`, It returns as follows:

[code]

[2018-02-24 12:38] belfhi commented on #93
Hello,
I fixed the bug with the input and output and changed the makefile to use the intel compilers and to include my own compiled fftw3 library (I hadn't realized it was already installed).
Also, the code works fine for me until it tries to open the files which I don't have. But go ahead and cherry pick changes you want to apply.
@QJohn2017  you need to _source_ the file not edit it with vi

[2018-02-24 12:41] QJohn2017 commented on #93
@PrometheusPi ,
I don't specify the location of the trajectory files and I don't know the format and contens of the trajectory files? could you give me an example of the trajectory files? There are 2000 files named `my_output.txt` and `my_error.txt`

[2018-02-24 12:45] QJohn2017 commented on #93
@PrometheusPi ,There is no output file named `*.dat` produced

[2018-02-24 12:50] QJohn2017 commented on #93
@PrometheusPi , Can you help me to go through the main parameters in `settings.hpp`?

[2018-02-24 13:01] QJohn2017 commented on #93
@PrometheusPi ,
When I input the command `ldd executable` before `yhrun -N 2 -n 48 executable`, it returns

[code]

[2018-02-26 15:32] PrometheusPi commented on #93
@QJohn2017 Okay thank you. That look good.

[2018-02-26 15:39] PrometheusPi commented on #93
@QJohn2017
I assume that `my_output.txt` will contain something like
[code]
but no:
[code]
This means that [no trajectory was found](https://github.com/ComputationalRadiationPhysics/clara2/blob/177389b53c864bdda54a4acca165912957c1f6a0/src/all_directions.cpp#L102-L115).

In the `my_error.txt` you probably find something like
[code]
if the stream redirect does not work as on our system.

Thus we nee

[2018-02-26 15:55] TheresaBruemmer commented on #93
@PrometheusPi
It seems I set a wrong path so that no output files were created. I fixed that now, so my_spectrum_trace****.txt files are created. However, I am still missing the my_spectrum_all***.txt

[2018-02-26 15:56] PrometheusPi opened #96 "Setting up a first Clara2 simulation"
This is a continuation of issue #93
Since the discussion changed from how to set up the environment on tianhe2 to how to set up Clara2 in general, I think a new issue should be used (to avid scrolling down through all the issues related to the module system on tinahe2)

This question was asked by @QJohn2017 in #93

---

In [the beginning of `settings.hpp`](https://github.com/ComputationalRadiation

[2018-02-26 16:10] PrometheusPi commented on #96
In the [input section of `settings.hpp`](https://github.com/ComputationalRadiationPhysics/clara2/blob/177389b53c864bdda54a4acca165912957c1f6a0/src/settings.hpp#L43-L59) the data in the trajectory file is defined. By default a [GPT](http://www.pulsar.nl/gpt/) output trajectory is assumed that looks like:
[code]
with beta being the velocity normalized to the speed of light and beta_{x,y,z} being its

[2018-02-26 16:19] PrometheusPi commented on #96
If you have a more complex input set, for example if you use momentum values instead of velocities, you should have a look at [`run_trough_data.hpp`](https://github.com/ComputationalRadiationPhysics/clara2/blob/177389b53c864bdda54a4acca165912957c1f6a0/src/run_through_data.hpp). There you could add more complex (non-linear) conversions for your specific trajectory data format.

[2018-02-26 16:22] PrometheusPi commented on #96
The [last part of `settings.hpp`](https://github.com/ComputationalRadiationPhysics/clara2/blob/177389b53c864bdda54a4acca165912957c1f6a0/src/settings.hpp#L61-L66) is for the post- processing via [`process`](https://github.com/ComputationalRadiationPhysics/clara2/blob/177389b53c864bdda54a4acca165912957c1f6a0/src/makefile#L78-L79) defined [here](https://github.com/ComputationalRadiationPhysics/clara2

[2018-02-26 16:32] TheresaBruemmer commented on #96
This last part is what does not work in my case. The single trace spectra are not added up. But I would expect a "could not write output file" ... but I get no error at all...

[2018-02-26 16:32] PrometheusPi commented on #96
**Regarding the observation points:**

The number of total directions is [the product of](https://github.com/ComputationalRadiationPhysics/clara2/blob/177389b53c864bdda54a4acca165912957c1f6a0/src/all_directions.cpp#L53) `N_theta` and `N_phi` defined in `settings.hpp`.

Their individual values in degree are defined [here](https://github.com/ComputationalRadiationPhysics/clara2/blob/177389b53c864bdd

[2018-02-26 16:37] PrometheusPi commented on #93
@QJohn2017 To keep this issue clean and only focused on issues regarding the technical setup on tianhe2 I moved the discussion on how to setup clara2 to issue #96. Feel free to ask further questions there. If you still encounter issues with the compilation or execution on tianhe2 please comment here in this issue. I will not close this until you have a working version on clara2 on tinahe2.

[2018-02-26 16:38] PrometheusPi commented on #93
@belfhi Thank you for allowing me to cherry-pick your solution. I will try to incorporate your work as soon as possible.

[2018-02-26 16:39] PrometheusPi commented on #93
@TheresaBruemmer Feel free to switch to #96 if you encounter issues with the setup of clara2.

[2018-02-26 16:43] PrometheusPi commented on #96
@TheresaBruemmer In order to perform the post-processing you need to run
[code]
after the parallel job has finished.

The parallel job should have created 3 types of files:
 - `my_output.txt...` for output information on each trajectory
 - `my_error.txt...` for error information on each trajectory
 - `my_spectrum_trace......dat` for the individual spectra for each trajectory

Did you run `./proces

[2018-02-26 16:46] TheresaBruemmer commented on #96
Nice, thank you. It works!

[2018-02-26 16:47] PrometheusPi commented on #96
In a future version, where no array jobs are supported any more, this step can be executed  by clara2 directly. But with array job support, we need a separate executable for this step, because the individual array jobs are not aware of each other. With MPI only, this would not be required.

[2018-02-26 16:54] PrometheusPi opened #97 "Get rid of array job support"
Dear users,

is anybody relying on the array job support? I have not used it for years and I would be very happy to rely entirely on MPI. This would allow a more lightweight code and setup routine and additionally would support getting rid of `process_data` and using direct MPI gather instead of storing spectra for each trajectory and disk.

The only advantage of array jobs is that they might star

[2018-02-26 17:17] PrometheusPi opened #98 "switch to cmake"
As suggested by @psychocoderHPC and @ax3l switching to a cmake (3.0+) approach for building clara2 would ease the setup with module systems and would allow building on Windows and OSX machines as well.

Main issue with cmake is that fftw has no default *finder*.

[2018-02-26 17:20] PrometheusPi opened #99 "pull code for Maxwell cluster"
@belfhi provided some code so that clara2 runs on the Maxwell cluster at DESY. This should be included into the mainline code.

[2018-02-27 14:04] TheresaBruemmer commented on #97
What/where is the array job support? I don't think I ever used it...

[2018-02-27 14:14] PrometheusPi commented on #97
Array jobs are jobs that are a selection of very similar single core jobs that get an ID from the submit system. With this ID each of the jobs can perform a different task, similar to the MPI rank distributed by MPI. However no cross communication is possible.

The advantage is, that since each job is a single core job, these jobs can start as soon as a single core is available. They can increase

[2018-02-27 14:21] PrometheusPi commented on #94
@belfhi Could you tell me why you needed to include the
[code]
in the makefile when using the ICC?

[2018-02-27 14:25] PrometheusPi commented on #94
I assume your fftw is located there, is this correct?

[2018-02-27 14:28] belfhi commented on #94
Yes, that was for the fftw library, but I didn't realize it was already installed on the cluster, so it itsn't neccessary.

[2018-02-27 14:28] TheresaBruemmer commented on #97
Well, I know the concept of array jobs. I did not know what you meant by array job support, but I guess you mean the compatibility of a clara2 run with splitting it into several array jobs.

In that case, I think it is ok to just include the ./process_data in the submit.sh
By that, clara2 can still be used by people who require this array job support.

[2018-02-27 14:29] belfhi commented on #94
ldconfig -p | grep libfftw
	libfftw3l_threads.so.3 (libc6,x86-64) => /lib64/libfftw3l_threads.so.3
	libfftw3l_threads.so (libc6,x86-64) => /lib64/libfftw3l_threads.so
	libfftw3l_omp.so.3 (libc6,x86-64) => /lib64/libfftw3l_omp.so.3
	libfftw3l_omp.so (libc6,x86-64) => /lib64/libfftw3l_omp.so
	libfftw3l.so.3 (libc6,x86-64) => /lib64/libfftw3l.so.3
	libfftw3l.so (libc6,x86-64) => /lib64/libfftw3l.so

[2018-02-27 15:00] ax3l commented on #98
Projects with *modern* CMake 3 support to take code from:
- Splash 1.7.0+: https://github.com/ComputationalRadiationPhysics/libSplash/tree/v1.7.0
- PNGwriter 0.7.0+: https://github.com/pngwriter/pngwriter/tree/4810140431ad2c6c4f834b9efe55dbee00df61aa
- ADIOS2: https://github.com/ornladios/ADIOS2/

Feel free to ping me on PRs if you want a review.

For FFTW, just use a `FindFFTW.cmake` module from

[2018-02-27 16:23] PrometheusPi commented on #82
closed with #102

[2018-02-27 16:23] #82 closed

[2018-02-27 16:43] PrometheusPi commented on #99
done with pull request #100

[2018-02-27 16:43] #99 closed, assigned to PrometheusPi

[2018-02-27 16:43] PrometheusPi commented on #99
Intel compiler support is added with #101

[2018-03-02 14:42] PrometheusPi commented on #96
@QJohn2017 Did setting up your simulation work for you?

[2018-03-02 14:44] PrometheusPi commented on #94
I got clara2 to compile with the icc and openMPI. I will test this further to get ride of warnings in as many versions as possible.

[2018-03-02 14:45] PrometheusPi commented on #94
@QJohn2017 we have an Intel 11.1 compiler available at our cluster, I will check whether I can reproduce your warnings.

[2018-03-03 09:04] QJohn2017 commented on #96
@PrometheusPi  Sorry that I'm busy these days and have no time to set my simulation, i will have a try to create the trajectory files and set the simulation again tonight.  My previous trajectory files are generated by the Vsim code and only has the position information of electrons that are being tracked.

[2018-03-03 09:08] QJohn2017 commented on #94
@PrometheusPi  Okay, thank you very much! I would really like to eliminate the warnings when compiling the code and hope to hear your good news.

[2018-03-05 07:25] QJohn2017 commented on #96
@PrometheusPi , I have set up the first simulation successfully, when I input the command`./process_data`, there are two output files named `my_spectrum_all_000.dat` and `my_spectrum_all_001.dat` created. But I don't know how these two files stand for what and how to analyse them

[2018-03-05 10:07] PrometheusPi commented on #96
@QJohn2017 No problem - thanks for the reply.
Great to hear that running Clara2 worked with your data :+1:. That are wonderful news.

The two files `./process_data` creates are the directionally resolved spectra for both `phi` values you used. So in case you were using the default setup `my_spectrum_all_000.dat` is the `phi=0°` spectrum and `my_spectrum_all_001.dat` is the `phi=90°` spectrum.
Both

[2018-03-05 10:15] PrometheusPi commented on #93
@QJohn2017 Great to hear in #96 that your simulation ran :tada:
**Does this mean we can close this issue?**

If so , would you be so kind to provide a example submit file, so that I could add a module  setup similar to the hypnos and Maxwell cluster for tinahe2?
(Since you installed fftw yourself, a rough description, how other users could do that would also be very helpful.)

Or you could provide

[2018-03-05 10:18] PrometheusPi commented on #94
Sadly, the intel compiler version 11.1 and 12.1 we had were outdated. I informed our admins and they removed them. So I will have to find a new way to test these warnings. I will ask the admins to reinstall these compilers, go to an older cluster here on campus, or perhaps try it with a virtual machine on my own local computer.

@QJohn2017 I will keep you updated with my progress.

[2018-03-05 11:34] QJohn2017 commented on #93
@PrometheusPi ,
The contents of the submit file `test.sh` in my tianhe2 are as follows:

[code]

And the command to submit the job is `yhbatch -N 2 ./test.sh`

[2018-03-05 11:39] QJohn2017 commented on #94
@PrometheusPi  Okay, thank you ! Hope to hear your good news.

[2018-03-05 11:49] QJohn2017 commented on #96
@PrometheusPi , Why only the first column in spectra file `my_spectrum_all_000.dat` and `my_spectrum_all_001.dat` is not zero and the rest of the columns are all zero ?

[2018-03-05 11:57] PrometheusPi commented on #93
@QJohn2017 Thank you! I will provide a default source file as soon as possible.

Do you know what prefix a submit script uses in order to transfer the arguments as `-N 2`?
Is it `#sbatch -N 2` or is it `#YHBATCH -N 2`?

[2018-03-05 11:57] QJohn2017 commented on #96
@PrometheusPi , When I input the following code, it returns following errors:
`[ac_siom_jsliu_1@ln1%tianhe2-C src]$ ../tools/plotRadiation my_spectrum_all_000.dat
Traceback (most recent call last):
  File "../tools/plotRadiation", line 53, in <module>
    matplotlib.__version__, tested_matplotlib_version)
ValueError: zero length field name in format
[ac_siom_jsliu_1@ln1%tianhe2-C src]$`

[2018-03-05 12:02] QJohn2017 commented on #93
@PrometheusPi , Sorry, I don't know what the prefix of submitting script, I guess it maybe `#YHBATCH -N 2`

[2018-03-05 12:05] PrometheusPi commented on #96
@QJohn2017 That might have a variety of reasons. Could you post your [line 26 to 32 of your settings.hpp file](https://github.com/ComputationalRadiationPhysics/clara2/blob/b9cce3f42ef32f2fc2e0525d40e02241194d0de0/src/settings.hpp#L26-L33) here?
That would help me a lot.
Furthermore it would be helpful to know:
 - In what direction do your particles move mostly?
 - In which direction does theta=0 a

[2018-03-05 12:10] PrometheusPi commented on #96
@QJohn2017 The error from the `plotRadiation` comes from a non-tested matplotlib version.That might not be critical, but just a python (version) issue.
 - what version of python are you using
 - what is you matplotlib version?

These values can be determined by typing:
[code]

[2018-03-05 12:18] PrometheusPi commented on #93
@QJohn2017 Then I would suggest that I write a default submit script based on `#YHBATCH`. It you use it and it does not work, you can tell me that and I will fix the script.

[2018-03-05 12:21] QJohn2017 commented on #93
@PrometheusPi , Okay, thank you !

[2018-03-05 12:30] QJohn2017 commented on #96
@PrometheusPi , The line 26 to 32 of my `settings.hpp` file are:
[code]

The direction of my trajectories move mostly is `z` direction. The trajectories are some electrons move in an magnet undulator and the magnetic direction is `y` direction. The relativistic factor of electrons is 323.
I don't know the `phi` and `theta` stand for what directions in your code.

[2018-03-05 12:32] QJohn2017 commented on #96
@PrometheusPi , When I typing the command as your follows, it returns follows:

[code]

[2018-03-05 12:33] PrometheusPi commented on #96
@QJohn2017 You mentioned that you are using Vsim. I assume this is [Vsim from Tech-X](https://www.txcorp.com/vsim). That is a quite sophisticated particle-in-cell code.
If you are performing laser plasma simulations like LWFA, TNSA, etc. you might be interested in switching from the Vsim + Clara2 workflow and use the particle-in-cell code [PIConGPU](https://github.com/ComputationalRadiationPhysics

[2018-03-05 12:36] PrometheusPi commented on #96
@QJohn2017 Could you use two underscores `_` before and after `matplotlib.__version__` please? The variable with only one underscore is not defined.

[2018-03-05 12:41] QJohn2017 commented on #96
@PrometheusPi , My research field is LWFA and my main simulation tool is `VSim`. I never use the ` PIConGPU` code, is it easy to get started?

In this `clara2` simulation work, the trajectories used in the simulation are produced by a C++ program developed by myself.

[2018-03-05 12:45] QJohn2017 commented on #96
@PrometheusPi , After enter into the python environment, I type the code `import matplotlib` and ` print (matplotlib._version_)`. Is it right?

[2018-03-05 12:50] QJohn2017 commented on #96
@PrometheusPi ,Sorry, I just typed only one underscores `_` before and after `matplotlib.__version__`. After I typed two underscores, it retunrs:
[code]

[2018-03-05 12:51] QJohn2017 commented on #96
@PrometheusPi , The version of the` matplotlib` is `0.99.1.1`.

[2018-03-05 15:28] PrometheusPi commented on #96
@QJohn2017 That is a matplotlib version from August 2009. Sadly there is no documentation for such old matplotlib versions easily available online. From the error message I assume that at this pre-1.0-relese there was not yet a `__version__` variable available (or it was defined differently).

Are the more modern python versions as modules available?
Best would be python 2.7 or 3.0 to 3.4 with a m

[2018-03-05 15:34] PrometheusPi commented on #96
@QJohn2017 PIConGPU is definitely not easy to program, but the ease-of-use has improved in recent years. It is not as easy to set uo es e.g. EPOCH, but there is just a few parameters files you need to know, when performing LWFA simulations since this is one of the standard applications of this code.

Since I never used Vsim myself, I have no direct comparison.
But you could try to run a simple LWF

[2018-03-05 15:37] PrometheusPi commented on #96
@QJohn2017 Could you post your detector setup from [line 67 to 73 from `single_direction.cpp`](https://github.com/ComputationalRadiationPhysics/clara2/blob/b9cce3f42ef32f2fc2e0525d40e02241194d0de0/src/single_direction.cpp#L67-L73)? That would allow me to determine in which directions the detectors are set up.

[2018-03-06 06:14] QJohn2017 commented on #96
@PrometheusPi , I have downloaded the spectra file  `my_spectrum_all_000.dat` and `my_spectrum_all_001.dat` to my own local computer and processed them successfully by the `python` in my own computer.

[2018-03-06 06:20] QJohn2017 commented on #96
@PrometheusPi , Okay, Thank you ! I will try to use the `PIConGPU` code in tianhe2 once all the problems in `CLARA2` have been solved.

[2018-03-06 06:23] QJohn2017 commented on #96
@PrometheusPi , the detector setup from line 67 to 73 from `single_direction.cpp` as follows:

[code]

[2018-03-06 07:49] QJohn2017 commented on #96
@PrometheusPi , I found that both of the spectrum files `my_spectrum_all_000.dat`and `my_spectrum_all_001.dat` have of a size of `120x2048`. So, I guess the result in my simulation that only the first column is not zero but all of the rest columns are zeros can be attributed to the `frequency`. May be the frequency interval `my_delta_omega` is too large and only the base frequency is valid for sim

[2018-03-06 08:07] QJohn2017 commented on #96
@PrometheusPi , But when I changed the maximum frequency to 3.0e16, the result is still the same as above. So, i don't know what the problem is.

[2018-03-06 10:26] PrometheusPi commented on #96
@QJohn2017 Great to hear that the `plotRadiation` tool works on your computer.

**Regarding your detector setup:**
With the current implementation, your detectors are located in a narrow angle of ~1.14 degree around the x-direction `looking_vector = (1, 0, 0)`, but your particles propagate in z-direction `beta ~ (0,0,1)`. Due to beaming, nearly no radiation reaches your detector.
If you place your

[2018-03-06 10:54] PrometheusPi commented on #96
The problem with the frequencies should be resolved with the changed observation direction.

With the current observation direction in x-direction, the observable radiation is not blue shifted and any frequency in x-direction will be `gamma^2 ~ 100000 ` times smaller than the expected frequency of the undulator radiation.
Since you resolve only `2048` frequency points, this low radiation is lost (

[2018-03-06 12:09] TheresaBruemmer commented on #96
Hi, I tried running this clara2 version on hypnos, using trace files I already ran with an old clara2 version.
I also got a few non-zero values at the beginning the rest all zero.
So in my case, the trajectories are not the problem...maybe it is similar to @QJohn2017

[2018-03-06 12:21] PrometheusPi commented on #96
@TheresaBruemmer Might it be that you are still using the default observation direction?

 - In what direction do your electrons move mostly?
 - What is the definition of your observation direction [`looking_vector` line 77 to 79 on `single_direction.cpp`](https://github.com/ComputationalRadiationPhysics/clara2/blob/b9cce3f42ef32f2fc2e0525d40e02241194d0de0/src/single_direction.cpp#L71-L73)?
 - Wha

[2018-03-06 12:56] QJohn2017 commented on #96
@PrometheusPi , Thank you very much that according to your suggestions in setting observation direction, I have got the more reasonable spectrum. When I postprocess the spectrum in my own computer by typing the command as following, it returns:

[code]

But there is a pdf picture file produced, as the attached file showed. Did the radiation result is right?
[SpectraOutput.pdf](https://github.com/C

[2018-03-06 12:59] QJohn2017 commented on #96
@PrometheusPi , The  undulator period `lambda_u` in my simulation is `0.05m` and the maximum magnetic is  `0.425T`.

[2018-03-06 13:20] PrometheusPi commented on #96
In principle your spectrum looks correct - containing higher harmonics (as expected for this high magnetic field) and a blue shift on axis.

An offline discussion with @steindev, our FEL (and undulator) expert, however revealed a discrepancy by a factor 2:
 - from your magnetic field your are operating in a wiggler not a undulator regime `k>1`since
[code]
 - According to the pdf you posted, your f

[2018-03-06 13:28] TheresaBruemmer commented on #96
Ok, sorry, I used the wrong looking vector /  detector direction.

[2018-03-06 13:28] TheresaBruemmer commented on #96
Why is the default looking vector in x? I would think z is the more prominent propagation direction ...

[2018-03-06 13:34] QJohn2017 commented on #96
@PrometheusPi , Sorry, I forgot to tell you that in addition to the magnet, there is a seeding laser in co moving with the electrons in the undulator. So, the total parameters are:
`B0 = 0.425T, lambda_u=0.05m, N_period=20, seeding laser wavelength=1047nm, seed power=1.0e9 W  ` .

[2018-03-06 13:37] PrometheusPi commented on #96
@TheresaBruemmer I do not remember why I choose the x-direction as default. Might be related to the original radiation calculation with trajectories from [illumination (see PhD thesis)](http://www2.mpq.mpg.de/lpg/grouphp/MichaelGeissler/publications.html) PIC simulations. But you are right, more common in accelerator physics is the z-direction as main propagation direction.
But for me, as a PIConG

[2018-03-06 13:40] TheresaBruemmer commented on #96
LOL, ok.
Not hard to change though, so it is fine...
...maybe I am blind, but I cannot find it: can you tell me where I can change the trace_id to start from 1 instead of 0? so that for N_trace=2000 it will read trace_0001.txt to trace_2000.txt

[2018-03-06 13:41] QJohn2017 commented on #96
@PrometheusPi , However, when I removed the seeding laser by setting the seed power to 0, the results looks no difference than above, as showed  in attached file.
[SpectraOutput.pdf](https://github.com/ComputationalRadiationPhysics/clara2/files/1785196/SpectraOutput.pdf)

[2018-03-06 13:48] PrometheusPi commented on #96
@QJohn2017 Please let me run a check on the current dev. I will verify whether the factor two comes from clara2. This might need up to 1-2 hours. I will report back as soon as possible.
Perhaps you can check your code in the mean time. Or you wait till tomorrow. It must be already quite late at your place.

@steindev also remarked that a seed laser that co-propagates should have no influence.

[2018-03-06 13:51] PrometheusPi commented on #96
@TheresaBruemmer The main clara2 code does not yet support starting from another value than 0. But it also does not care. It just prints a warning and continues.

On the other hand, the `process_data` code allows adjusting the start index by adjusting [this line of code](https://github.com/ComputationalRadiationPhysics/clara2/blob/b9cce3f42ef32f2fc2e0525d40e02241194d0de0/src/settings.hpp#L63).

Di

[2018-03-06 14:06] TheresaBruemmer commented on #96
@PrometheusPi  Yes, I did find that part for process_data. Ok so, if I change N_trace to 1 more, should I then change index_files_last to N_trace-1 or does process_data also not care?

[2018-03-06 14:22] PrometheusPi commented on #96
@TheresaBruemmer `index_files_last` is the real last index, not the number of spectra.
see [here](https://github.com/ComputationalRadiationPhysics/clara2/blob/b9cce3f42ef32f2fc2e0525d40e02241194d0de0/src/process_data.cpp#L199-L201)

However, both executables just [produce warnings and continue](https://github.com/ComputationalRadiationPhysics/clara2/blob/b9cce3f42ef32f2fc2e0525d40e02241194d0de0/sr

[2018-03-06 14:22] PrometheusPi commented on #96
@QJohn2017 Sorry it might take a bit longer

[2018-03-06 14:28] QJohn2017 commented on #96
@PrometheusPi , I changed the parameters to follows:
`B0=4.95e2T, lambda_u=800nm, N_period=20`
This means that the radiation frequency is:
`omega_rad = 2 * pi * c * 2 * gamma^2 / ((1 + k^2/2)  * lambda_u) = 5e23 Hz`
And the undulator strength is:
`k = 0.934 * 495 * lambda_u[cm] = 3.7e-5`.
After the radiation simulation by CLARA2, the result is in attached file, the radiation frequency is `2.5e23 H

[2018-03-06 14:44] PrometheusPi opened #103 "No results when running with icc on hypnos"
While with the latest update #101 the intel compiler can be used as well, a recent test on hypnos produced just warnings and no output. Resulting in an empty spectra. I suspect this to be a `math.h`issue on the hypnos system. As @QJohn2017 demonstrated in #96, clara2 compiled with icc works fine.

[2018-03-06 14:45] PrometheusPi commented on #96
@QJohn2017 I just tested the current `dev`version of clara2 against an old version with a know set of trajectories. Both results are the same. So there has not been an unintended shift by a factor two with recent updates.
(However, it just worked with my gcc version. I also tested icc and that caused some run time errors. I will have to look into that soon #103)

I will perform a test against anal

[2018-03-06 14:53] TheresaBruemmer commented on #96
@PrometheusPi  Are they exactly the same? When I compare old and new clara2, the my_spectrum_* files differ, but the number of emitted photons and spectral bandwidth are similar.

[2018-03-06 14:54] QJohn2017 commented on #96
@PrometheusPi , Do you mean that this unintended shift by a factor two may be attributed to the different compiler?

[2018-03-06 14:55] PrometheusPi commented on #96
@TheresaBruemmer They will numerically be not the same since the underlying algorithms to compute the fft is different. But the difference should be relatively small.
**How big is your relative difference between new and old version? (ideally not in photons but in Js)**

[2018-03-06 14:57] PrometheusPi commented on #96
@QJohn2017 No - this would be very unlikely. I just mentioned this issue since I wrote initially that it might take a bit longer because I encountered the intel issue on my institute's cluster. But since I still had a gcc run available, the delay was not that long.

[2018-03-06 15:03] TheresaBruemmer commented on #96
@PrometheusPi  Well, it is just one example...and this is just my "Quick-Evalu"-script running over the data, but: The photon number appears to only deviate by ~0.4%. The bandwidth by 3% (both relative difference).
Depending on the regarded opening angle etc.

[2018-03-06 15:03] PrometheusPi commented on #96
@TheresaBruemmer Another difference might come from the interpolation routine you used. If I remember correctly you adjusted the interpolation in [here](https://github.com/ComputationalRadiationPhysics/clara2/blob/b9cce3f42ef32f2fc2e0525d40e02241194d0de0/src/single_direction.cpp#L134) and choose some other interpolation method from [here](https://github.com/ComputationalRadiationPhysics/clara2/blo

[2018-03-06 15:04] QJohn2017 commented on #96
@PrometheusPi , Okay, Thank you ! So what is the problem that the unintended shift by a factor two in frequency ? I have checked my program, it is ok. So I hope to hear good news from you !

[2018-03-06 15:09] steindev commented on #96
@QJohn2017: Your parameters now look like those of a laser. But keep in mind, the scattered wavelength (i.e. frequency) relation for a counterpropagating laser undulator and a non-moving magnetic undulator differ by a factor of two,
[code]
since the laser propagates at the speed of light towards the electrons which effectively shortens the laser wavelength seen by the electrons.
That is, if you se

[2018-03-06 15:11] PrometheusPi commented on #96
@QJohn2017 regarding @steindev comment:
Just to be sure: Your undulator field is stationary in both time and space?

[2018-03-06 15:15] PrometheusPi commented on #96
@QJohn2017 Would you be so kind and send my a **single representative** electron trajectory file you used as input to clara2 via [email](https://www.hzdr.de/db/!ContMan.Visi.Card?pUser=6038&pNid=0). That would help my clarify whether the issue comes from the clara2 code.

[2018-03-06 15:18] PrometheusPi commented on #96
@TheresaBruemmer Another reason might by a higher sampling factor used in your old simulation setup [here](https://github.com/ComputationalRadiationPhysics/clara2/blob/b9cce3f42ef32f2fc2e0525d40e02241194d0de0/src/settings.hpp#L33)

In your old version this was probably still hard coded somewhere [here](https://github.com/ComputationalRadiationPhysics/clara2/blob/b9cce3f42ef32f2fc2e0525d40e02241194

[2018-03-06 15:28] TheresaBruemmer commented on #96
@PrometheusPi
The line in the old clara2 is:
[code]
In the new code, setting fft_length_factor=1, it should be the same

[2018-03-06 15:39] PrometheusPi commented on #96
@TheresaBruemmer Interestingly: if I run the preset default test on hypnos, the is absolutely no difference (not even numerically) between the new (fftw) method and the old version.

[2018-03-06 15:50] TheresaBruemmer commented on #96
@PrometheusPi Now the question would be: Is your "old version" the same as my "old version" ;) or am I doing sth wrong?

[2018-03-06 15:53] PrometheusPi commented on #96
@TheresaBruemmer My old version is probably a year younger than yours. But in that your only cosmetic changes happened. What was the interpolation method you used in your "old" version?

[2018-03-06 15:58] PrometheusPi commented on #103
The error with the icc seems to be related with the check of the retarded time [here](https://github.com/ComputationalRadiationPhysics/clara2/blob/b9cce3f42ef32f2fc2e0525d40e02241194d0de0/src/include/ned_fft.hpp#L151).

While with the gcc some errors occure when the comparison in equal within floating point precission, with the intel compiler the retarded time moves backwards (!!!) causing errors

[2018-03-06 16:00] PrometheusPi commented on #96
@TheresaBruemmer regarding @QJohn2017's issue:
Even if you are seeing a 3% increase in bandwidth with the new version, is the main radiation at the expected frequency?

[2018-03-06 16:05] TheresaBruemmer commented on #96
@PrometheusPi
Yes it is, but in the end, I am the one creating the axis...
To avoid mistakes my python script reads the omega_max and N_spectrum information directly from the src/settings.hpp

Concerning the interpolation routine, are you asking for differences in interpolation.tpp? Because *cpp and *hpp look the same in my old and the current clara2 code

[2018-03-06 16:09] PrometheusPi commented on #96
@TheresaBruemmer No, I was just asking for which method you chose in `single_direction.cpp`. In this file you are free to choose any method defined in `interpolation.?pp`.
Which `*.cpp` and `*.hpp` look the same for you?

[2018-03-06 16:13] TheresaBruemmer commented on #96
@PrometheusPi
In my old clara2 version, there is no single_direction.cpp
in single_trace.cpp, I use
 interpolation_int(detector_fft[0], all_omega, all_spectrum, N_all_spec);
which is the same command as in the current version:
 interpolation_int(detector_fft, all_omega, all_spectrum, N_all_spec);

And I meant the according interpolation.cpp and interpolation.hpp which have not changed, apparently.

[2018-03-06 16:20] PrometheusPi commented on #96
@TheresaBruemmer Thank you. Then I am confused why you see a 3% difference in your bandwidth.
The only thing I could imagine is a kind of zero padding somewhere in `ned_fft.hpp` that increases the `N` used and which is called [`spec_length`](https://github.com/ComputationalRadiationPhysics/clara2/blob/b9cce3f42ef32f2fc2e0525d40e02241194d0de0/src/include/detector_fft.cpp#L155) before handed to the

[2018-03-07 00:36] QJohn2017 commented on #96
*Edited by @PrometheusPi: Please use my GitHub user name not my first name - using just my first name informs another user:*
@PrometheusPi，Sorry, I am busy in next five days, so I will send you the trajectory file after that, thank you

[2018-03-07 08:42] PrometheusPi commented on #96
@QJohn2017 This fits well, my week is quit full with work too. Take your time and send the the trajectory next week.

[2018-03-11 13:05] QJohn2017 commented on #96
@PrometheusPi , I have send the trajectory file into the email. Please check it soon ! Thank you ! The undulator wavelength is `0.05m`, the magnetic strength is `0.425T` and the electron relativistic factor is `323`.

[2018-03-13 12:26] PrometheusPi commented on #96
@QJohn2017 Thank you. I received your mail and will have a look at it as soon as possible.

[2018-03-15 17:24] PrometheusPi commented on #96
@QJohn2017 I fanilly had some time to look at your trace:

First of all, I could reproduce the spectra at half the expected frequency with clara2.

Your trace looks correct: both the longitudinal periodicity as well as the velocity amplitudes are as expected for K=1.98.
Also the pointing of your trajectory is within the 1/gamma cone.

I will test clara2 against an analytical wiggler trajectory in

[2018-03-17 04:03] QJohn2017 commented on #96
@PrometheusPi , Okay, Thank you! Hope to hear your good news!

[2018-03-23 01:18] QJohn2017 commented on #96
@PrometheusPi ,  what's your progress of your test about clara2, please ?

[2018-03-23 18:57] PrometheusPi commented on #96
@QJohn2017 Sorry, I was busy this week attending a conference. So please excuse me not writing back with further updates.

My next test will be to write a code that provides an undulator trajectory based on analytical equations and test the output.
And in parallel test an example against the output of the PIConGPU radiation plugin.

[2018-03-24 04:04] QJohn2017 commented on #96
@PrometheusPi , i'm so sorry to interrupt you. Okay, I will also to verify the radiation based on the undulator trajectory files by other computational radiation programs. Thank you !

[2018-04-12 12:22] PrometheusPi commented on #96
@QJohn2017 I am very sorry, but the last weeks were quite busy. So far I started to develop a simple c++11 based test frame work but had yet neither time to put it to the test nor to determine the origin of the frequency shift. I will post updates as soon as possible. Did you find the origin of the frequency shift?

[2018-04-12 14:42] QJohn2017 commented on #96
@PrometheusPi , Sorry, I also can't find the cause of the frequency shift, I guess it may be come from the transformation of the reference frame, but I am not sure.

[2018-05-29 18:11] NIUaard opened #104 "issue with compiling + simple/fast example(s)"
Hi,
 First thank you for making such a nice code available openly. As I was fiddling with the code I had two questions:
-1 when I initially try to compile the code it keep complaining with the error message display at the end of this post.
  I had to fix this issue by replacing in ned_fft.hpp
[code]
      with the line in
[code]
  and then it compiled fine. Was there a typo in the code or am I dio

[2018-06-01 11:34] PrometheusPi commented on #104
Dear @NIUaard,

*regarding point 1:*
thank you very much for posting this bug.
I assume you used the `master` version of the clara2 code. The bug has already been fixed with pull request #90 in the `dev` branch, but I did not port it yet back to the `master` branch.
If you update to the `dev` branch, a couple or issues have already been solved there.

*regarding point 2:*
I am currently working on

[2018-08-14 01:59] QJohn2017 opened #105 "run error when using the clara2 code to compute the radiation spectrum"
Hi @PrometheusPi ,
      when I use the clara2 code to calculate the radiation spectrum from some electron trajectories which tracked by Vorpal code. I have 141 number particles, when I calculate the spectrum by clara2 code, some errors were raised  at some electron trajectories, but the other trajectories had no errors. The errors are recorded by the file "my_error.txt-...". the error is as follo

[2018-08-14 02:25] PrometheusPi commented on #105
Hi @QJohn2017,
 this error warns you that the retarded time of one of your particles with regard to a specific observation direction does not increase between two iteration-/time-steps.
This can have two reasons:
- your particle is faster  than light
- your particle is close to the speed of light and directly approaches the virtual detector while the numerical precision of the output can not resol

[2018-08-14 07:45] QJohn2017 commented on #105
Hi @PrometheusPi ,
    You said that the errors occurred in my spectrum calculation are look like the second case above and can be ignored. But I have tried many times and the errors always existed and the output file "my_spectrum_data000***.dat" related to the "wrong" trajectories can not be created. The attachments are two sample trajectories of mine. The "data_1.txt" is a "wrong" trajectory  th

[2018-08-22 02:53] QJohn2017 commented on #105
Hi @PrometheusPi ,
Recently, I have tested the clara2 code again and I founded that this code is right and there is no ~2 times discrepancy. I tested a head-on inverse Compton scatter, in which the a0 = 1.0, wavelength= 0.8um,  and the gamma = 600. Therefore, the undulator_wavelength=0.4um , and K = a0 = 1.0. the scatter frequency= 2.26e21 Hz. When I calculated this spectrum by clara2 code, the re

[2018-10-30 13:48] TheresaBruemmer commented on #96
@PrometheusPi
Hey Richard,
I was wondering, how do I set up a calculation from -theta_max to theta_max?
I could calculate 4 phi directions and add 180, 270 to double phi in all_directions.cpp
Is that correct?

[2018-11-09 22:44] PrometheusPi commented on #105
@QJohn2017 Great you found the time to validate the code with a test case. I am very sorry - I could not find the time to further test clara2 - I was occupied with other projects.

Would you be willing to upload your test case (the code that generated your test trajectories) as a pull request to this repository so that other users have can generate an example to start from?

[2018-11-09 22:46] PrometheusPi commented on #105
Were you able to determine the cause of the factor 2 error in your trajectories? (I hope so.)

[2018-11-09 22:57] PrometheusPi commented on #96
@TheresaBruemmer
In order to run theta from theta_max to theta_max just change in [all_directions.hpp](https://github.com/ComputationalRadiationPhysics/clara2/blob/master/src/all_directions.cpp#L67-L70) the code to:
[code]
This allows you to have `param::N_theta` sample points between `-param::theta_max` at `i=0` and `+param::theta_max` at `i=param::N_theta-1`.

I think your suggestion regarding p

[2018-11-11 11:00] QJohn2017 commented on #105
@PrometheusPi , Sorry that I was busy in recent days.  The attachment file is the code that generated my trajectory, you can check it and test it, if there are any errors or problem, you can contact me at any time.

The `namelist.example` is my input file, you can set the laser intensity and the undulator intensity. The `*.txt` is my initial particles' distribution, you can modify the output forma

[2018-11-13 18:06] ad210 opened #106 "Radiation bandwidth"
I am attempting to simulate undulator radiation using Clara but instead of getting a continuous spectrum, I am seeing sharp peaks. I've simulated a few undulators and have found that the peaks occur at the expected frequency but the bandwidth isn't matching the expected behavior. I tried to reproduce Fig. 5.7 in the thesis with the undulator parameters gamma = 100, λ = 800 nm, K = 3.7E-5. I produc

[2018-11-13 21:47] PrometheusPi commented on #106
Hi @ad210 welcome to Clara2,

Could it be that you have a well resolved time step but **only trajectories containing the 10 or 50 oscillation periods and nothing else (before and/or after)** and additionally a large number of frequencies that **resolve the spectra in`setting.hpp` very fine**?
https://github.com/ComputationalRadiationPhysics/clara2/blob/fa2f51fc89dc7af446cab63084c94e8070ee7b3a/src/

[2018-11-13 21:54] PrometheusPi opened #107 "add option for zero padding input data"
Since a common use case for this code is undulator radiation where zero padding is needed to obtain well resolved spectra despite the integrating interpolation method, adding the option to zero pad the input data would ease the usability and comparison to theoretical models.

This issue was motivated by a user question see #106.

This might be necessary before adding simplified example models. see

[2018-11-14 01:12] ad210 commented on #106
Thank you for your response. I added more padding before and after the undulator and I am getting a much better spectrum.

[2018-11-14 09:27] PrometheusPi commented on #106
Great to hear that zero passing helped.
I will close the issue. Feel free to open another issue if you encounter other questions, problems, or concerns. I will try to answer as soon as possible. However, this is an old project of mine which I am not working a lot on anymore, thus answering and fixing issues might take some days. (it s even worse with implementing new features).

Your problem broug

[2018-11-14 09:27] #106 closed, assigned to PrometheusPi

[2018-11-14 14:06] PrometheusPi commented on #105
@QJohn2017 Thank you for providing your code for computing the trajectories. I already had a brief look at the source code. It looks very sophisticated and advanced. I have seen you include some header files that I also found online. Which license does your source code (including the Bessel functions) have and will this conflict with the GNU3 license we use for Clara2?

[2018-11-14 14:11] PrometheusPi commented on #105
@QJohn2017 No reason to apologize - you always react very quickly. I am the one who needs weeks to answer questions and find a solution. Thanks again for your feedback and support.

[2018-11-14 14:22] QJohn2017 commented on #105
@PrometheusPi , I don't know whether the GNU3 license conflict with the Clara2, but i think it is ok ! Actually, the codes I provided are downloaded from the Github, I just made some modifications and improvements. I am anxious for your advice and improvement.  Thank you !

[2018-11-14 14:44] PrometheusPi commented on #105
@QJohn2017 Please excuse my imprecise question: Clara2 is under the GNU3 license. Under which license are your code and the code you found on GitHub?

[2018-11-14 15:00] QJohn2017 commented on #105
@PrometheusPi , sorry, i don't have any license for my code, but the license of the code i found on GitHub is  located at `https://github.com/archman/felscripts/tree/master/felsim/scripts/src
`

[2018-11-14 15:57] PrometheusPi commented on #105
@QJohn2017 Thank you for the link. The code seems to be under GNU2 license, so that should be fine. Would you agree, if I add your code changes to this public Clara2 repository?

@steindev are you by accident familiar with the FEL code the trajectory generator is based on?

[2018-11-14 15:58] PrometheusPi commented on #105
@ax3l are there any license issues when using GNU2 code in a GNU3 project?

[2018-11-14 16:28] steindev commented on #105
I don't know it. And it is not an FEL Code.

[2018-11-15 03:58] QJohn2017 commented on #105
@PrometheusPi , I am very glad that you can add the code I provided to Clara2.

[2018-11-19 07:52] ax3l commented on #105
As long as it's GPLv2+ and not *GPLv2-only* there should be no problem.
The repo you link is a bit wildly structured, but looks like overall using the usual GPLv2+ license text.

[2018-11-19 12:14] PrometheusPi commented on #105
@ax3l Thanks for your expertise :+1:

[2019-03-17 10:48] shouyr opened #108 "Discrete spectrum from nonlinear Thomson scattering"
Hi,
Firstly thank you for the useful code. I have run clara2 to reproduce the spectrum from nonlinear Thomson scattering of a relativistically moving electron with the same setting of the article _How to test and verify radiation diagnostics simulations within particle-in-cell frameworks_. However, as shown in the following picture, the spectrum I obtained was discrete in frequency axis and theta

[2019-03-17 14:41] shouyr commented on #108
I have studied the solution in issue #106 . With the help of zero padding, the result now seems to be reasonable as shown in the following figure.
![a_1 0right](https://user-images.githubusercontent.com/19524732/54492910-91b91200-4905-11e9-9aff-2e80480faa07.jpg)

[2019-03-17 14:41] #108 closed, assigned to nobody

[2019-03-29 10:41] PrometheusPi commented on #108
Hi @shouyr,
welcome to the Clara2 repository. Great that the solution in issue #106 solved your problem.
Please excuse my late reply - I was extremely busy the last month and did not check GitHub.
Hopefully this will change now and will spend more time in improving this code and reacting much quicker to questions.

So if you encounter further problems, feel free open another issue.

[2019-05-15 13:50] shouyr opened #109 "Strange result in radiation calculation"
I am attempting to calculate radiation spectrum from electron trajectory. The electron trajectory was obtained from a PIC simulation by EPOCH. However, the result seems to be strange. As shown in the following picture, the spectrum is discrete, especially in the theta axis. I also plot the electron trajectory, which is similar to the trajectory in an undulator. One difference of the trajectory fro

[2019-05-15 16:01] PrometheusPi commented on #109
Hi @shouyr great to hear from you again.

Your inital guess is correct. In order to speed up the computation `clara2` relies on using an FFT algorithm. FFTs however reqire equidustanly spaced data points, which is not given for retarded time of a wiggling electrons. Therefore, ther code performs an interpolation of the retared time step onto a equidistant grid. Then it is given to the FFT. By defa

[2019-05-16 05:43] shouyr commented on #109
Hi @PrometheusPi thanks for your response.

I have tried a larger param::fft_length_factor, however, it does not work. Actually I plot 1/(1-\beta_x) of the electron as shown in the following picture. The value of 1/(1-\beta_x) just varies in a too large range. If I only calculate the trajectory in the blue cycle, the result then seems reasonable. I notice that there is another solution named Time

[2019-05-22 15:42] PrometheusPi commented on #109
@shouyr
The time domain code from my thesis computes the electric (and magnetic) fields created in a position- and time-space. Thus it only provides information on the spectrum only indirectly if you Fourier Transform these fields afterwards. (It was built to study the influence of self-fields of a bunch in synchrotrons.)  Therefore, I would consider it unsuited for your regime.
I would propose a

[2019-05-22 15:48] PrometheusPi opened #110 "Add Nyquist limter for DFT part"
If the DFT code is exposed in a user-friendly manner (#72), a Nyquist limiter should be added as well.

[2019-05-23 09:40] shouyr commented on #109
Hi @PrometheusPi  thanks for your response.
I have written a time domain code according to your thesis and compute the spectrum using FFT of the electric field. Then I found this spectrum is similar to the result of Clara2 if param::fft_length_factor = 256. So now I think setting an enough large param::fft_length_factor is a feasible solution. The DFT mode seems to be a more universal method and I

[2019-05-23 12:52] PrometheusPi commented on #109
@shouyr Great to hear that setting `param::fft_length_factor` to `256` solved your issue.

Don't worry about my request. I just wanted to let you know that most likely I won't have time to do this quickly and that you might have to do it if you need such a feature urgently. Anyway, you are always welcome to participate in Clara2 if you like.

Just out of curiosity: might I ask what the topping of

[2019-05-23 12:52] #109 closed, assigned to PrometheusPi

[2019-05-25 10:30] shouyr commented on #109
Hi @PrometheusPi thanks for your help.
My study now is focusing on radiations from laser driven near-critical density plasmas. Electrons can oscillate in the laser-induced magnetic field, which is similar to betatron in LWFA. We can discuss this further if you are interested.

[2019-06-23 17:55] berceanu opened #111 "Analyze openPMD-compliant hdf5 trajectory data"
Hi guys,

Before jumping into `PIConGPU` + radiation plugin for betatron studies, I am doing a quick parameter scan via [`fbpic`](https://github.com/fbpic/fbpic). Do you think it would be possible to analyze the resulting `.h5` files via `clara2` and if so, could you please give me some pointers on how to get started?

[2019-06-23 18:28] berceanu commented on #111
Also, on a more general note, would the FFT approach be suitable for LWFA-induced betatron (i.e., have you guys tried it), or would I have to switch to the DFT mode? It seems that FFT is more targeted at undulator-type scenarios.

[2019-06-23 20:13] berceanu commented on #111
I should perhaps also note that I intend to run this on a single multi-core machine, at least for now.

[2019-06-27 08:56] PrometheusPi commented on #111
Hi @berceanu,

cool that you are planning to use `clara2` now.

In general, `clara2` needs trajectories, currently as simple text files as e.g., GPT provides. (However, you could extend it to read hdf5 as well.) As long as you have the trajectory data for close time steps (ideally each time step of a PIC simulation.)

In order to convert your hdf5 data to a text-based trajectory, please save each

[2019-06-27 08:59] PrometheusPi commented on #111
Regarding your question with betatron radiation:
See issue #109
Setting [`param::fft_length_factor`](https://github.com/ComputationalRadiationPhysics/clara2/blob/fa2f51fc89dc7af446cab63084c94e8070ee7b3a/src/settings.hpp#L33) to a high value (e.g., 256)  allows you to sample the non-equidistant retarded time fine enough to avoid under-sampling artifacts as common in wiggler or betatron scenarios.

[2022-06-26 09:30] QJohn2017 opened #113 "NaN in output spectrum by using the trajectroy of FBPIC code"
Hi,
I am using the output trajectories of the [FBPIC](https://github.com/fbpic/fbpic) code to calculate the radiation by the CLARA2 code, but the output spectrum has many NaN values. At first, I thought that this NaN appeared was due to the poor output accuracy of the particle trajectories in FBPIC code, So I  Interpolate the particle trajectories to increase the accuracy (dt, dz, et al). But when

[2022-11-07 16:11] PrometheusPi commented on #113
Sorry for the late reply @QJohn2017,
I am rarely checking ClaRa2 since I am not actively developing it.
If you want to get a quick reply by addressing me directly via @PrometheusPi (but I will try to adjust my mail notification for this repo).

NaNs occur if:
 - the floating point precision of the trajectories is not fine enough to
    - result in particle velocity v < speed of light c
    - the d

[2022-11-09 05:48] QJohn2017 commented on #113
@PrometheusPi Thank you very much for replying to this message. Because the NaN always appears in calculations using this code, I have given up this issue. I will familiarize myself with the problem again in a few days and send you my examples, thanks again.

[2022-11-09 06:43] PrometheusPi commented on #113
Thanks a lot for your quick reply @QJohn2017 and that you will look into it. And once again, I am very sorry for my late reply to your question.

[2022-11-10 15:26] QJohn2017 commented on #113
Hi, @PrometheusPi , one of my particle trace examples was in the attached file, which contains three particle trajectories. The order in each file was [x, y, z, betax, betay, betaz, t], and z is the propagation axis.
These files are uniformly interpolated by time from particle tracks tracked by FBPIC code, in order to increase time accuracy. By using these trace files, a large amount of NaN appear

[2022-11-11 08:31] PrometheusPi commented on #113
@QJohn2017 Thank you for providing the trajectories. I will have a look at it today.

[2022-11-11 15:34] PrometheusPi commented on #113
@QJohn2017 I had a lock at the trajectories you provided. For example `trace_17.txt` describes an particle moving **faster than the speed of light**, for some time steps.

Below you see the squared normalized velocity `beta^2` plotted over time.
![grafik](https://user-images.githubusercontent.com/5121158/201370832-28c31493-669c-4dbb-b528-0b2638ecfdcf.png)

I generated this analysis plot using the

[2022-11-11 15:43] PrometheusPi commented on #113
PS: I would be interested whether the faster than light particles are comping (as I suspect) from the interpolation or from FBPIC. In the latter case not using boosted frame might solve the problem - (if you are using boosted frame simulations with FBPIC).

If it is FBPIC, please inform @RemiLehe via an issue in the [FBPIC repo](https://github.com/fbpic/fbpic).

[2022-11-11 15:58] PrometheusPi commented on #113
PPS: I correct myself. Looking at `trace_50.dat`, there are long stretches of faster than light velocity.
![grafik](https://user-images.githubusercontent.com/5121158/201379947-d5b9855a-5b33-498b-98a1-e609be7f6bbf.png)

I doubt that this is just an interpolation error when preparing the FBPIC data for ClaRa2.

Highly interesting problem on the trajectory side.

Note to myself: adding a `beta^2 ≥ 1`

[2022-11-11 16:00] PrometheusPi opened #114 "add error/warning when beta^2 ≥ 1"
As seen in #113, there is no warning/error when trajectories of particles faster than the speed of light are given.
It would be more user friendly if such a warning/error could be thrown by ClaRa2.

[2022-11-11 16:04] QJohn2017 commented on #113
@PrometheusPi , Thank you very much for showing my issue, it is true that I used the boosted frame in FBPIC simulations, and the original particle trajectories were traced in boosted frame simulation. Because the simulation length is very long (~6 cm). To save calculation time, only boosted frame can be used. After obtaining the particle trace files, I used the time uniform interpolation method (e

[2022-11-11 16:21] PrometheusPi commented on #113
@QJohn2017 You are welcome. Sorry for just showing the origin of the problem and not having a solution.

I think for now, the only way to do your analysis is to either:
 - exclude the entire trajectory from analysis if it contains a beta^2≥1 point
 - or split the  beta^2≥1  trajectories into several shorter trajectories that do not contain wrong points (with some extra correct time steps cut out a

[2022-11-11 16:35] QJohn2017 commented on #113
@PrometheusPi Thank you for giving me the solution suggestions. I have a question for the second method you provided, if I do some extra correct time steps cut out around the beta^2≥1 regions, the time step should be different from the "good" trajectory part, is this allowed by CLARA2 code (that is the time step is different in the whole particle trajectory file).
secondly, the interpolation ("tim

[2022-11-11 16:47] PrometheusPi commented on #113
@QJohn2017 Sorry for my imprecise wording. With "cut out around the beta^2≥1 regions" I meant:
 - take your wrong trajectory `trace_1.dat`
 - for each (large enough) region `i` of `N` correct data regions in the trajectory:
   - save only the correct data as `trace_1_i.dat`
 - remove `trace_1.dat` from analysis with ClaRa2 and take instead `trace_1_i.dat`  till `trace_1_N.dat` (I used Fortran inde

[2022-11-11 16:53] QJohn2017 commented on #113
@PrometheusPi The following figure is the original trajectory data of `trace_17`:
![image](https://user-images.githubusercontent.com/31507149/201388569-4b66dc3e-0654-4d71-b074-a49b5d84dbf9.png)
![image](https://user-images.githubusercontent.com/31507149/201388747-34c1e051-b563-44b7-b845-a0d228915e49.png)
The second figure above is the z-x trajectories of `trace_17`. It can be seen that by the inte

[2022-11-11 16:58] PrometheusPi commented on #113
Thanks a lot for clarifying this.

Thus I would correct my recommendation:
I would suggest correcting/improving the interpolation method.
A straight forward way to do this could be to convert beta_x, beta_y and beta_z in momenta values. Interpolate on those values and then convert back to normalized velocities.
That should prevent beta^2≥1 - but it might come at the cost of numerical inaccuracies

[2022-11-11 16:59] QJohn2017 commented on #113
@PrometheusPi  Thank you for your patience in explaining my question to me. Do you mean that, if there is 5 correct data regions in 'trace_1.dat', then I save only the correct data as trace_1_0.dat to trace_1_4.dat, and take these 5 files into the CLARA2 code to calculate the radiation?

[2022-11-11 17:01] PrometheusPi commented on #113
Yes, exactly. Thus you will have 4 smaller traces with non-overlapping times. But they ae equidistant in time.
(There will be some artifacts from stopping the Fourier transform at high acceleration values though - but no NaNs)

[2022-11-11 17:06] QJohn2017 commented on #113
@PrometheusPi , Okay, thank you very much! The interpolation method is very good,  I've been ignoring this before. In fact, only position and momenta values are the correct parameters, not the normalized value. Thank you again, and I will try the interpolation again by your method. Thank you very much for helping me so much!

[2022-11-11 17:13] PrometheusPi commented on #113
@QJohn2017 You are welcome.

[2022-11-29 12:21] PrometheusPi commented on #113
@QJohn2017 Did implementing a momentum-based interpolation help?